
<%include partials/header.ejs %>
<div class="text-center h2">
    Product List

</div>
<div class="container" style="margin-top:50px">
  <% if(products.length>0) { %>
      <table class="table table-hovered">
            <thead>
                <tr>
                     <th scope="col">ID</th>
                     <th scope="col">Image</th>
                     <th scope="col">Title</th>
                     <th scope="col">Category</th>
                     <th scope="col">Quantity</th>
                     <th scope="col">Price</th>
                     <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <%products.forEach( ( product, index )=>{ %>
                    <tr>
                        <th scope="row"> <%=product.productID%> </th>
                        <td><img src="assets/imgs/<%=product.productID %>.<%=product.image.split('.')[1] %>"
                            class="rounded-circle" style="width: 50px; height: 50px;"
                            alt="<%=product.image%>" /> </td>
                        <td><%=product.title %></td>
                        <td><%=product.category %></td>
                        <td><%=product.quantity %></td>
                        <td><%=product.price %></td>
                        <td>
                            <a href="/edit/<%=product.productID%>" target="_blank" class="btn btn-success">UPDATE</a>
                            <a href="/Delete/<%=product.productID%>" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>

      </table>
  <%} else {%>
      <p class="text-center">
         No Products Found .Click <a href="/add">Here</a> To add products. 
      </p>
    <% } %>
  

   </div>
  </body>
</html>
